@model VideoStore.ViewModels.CustomerListViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 0 ? "customer" : null;
}

<h2 class="@className">Customers</h2>


@if (className == null)
{

    <p>No movies have been added to the database yet.</p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <th scope="row">@customer.Id</th>
                    <th scope="row">@customer.Name</th>
                </tr>
            }
    </table>
}
